/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.navigationbar {
  background: #8a8acb;
  position: relative;
  z-index: 1000;
  min-height: 50px;
  border: 1px solid transparent;
}
#main {

}
.navigationbar .inner-text {
  color: #ffffff ;
}

.top-content .purple{
  background: #8a8acb;
  color: #ffffff;
}
.top-content .white{
  background: rgb(255, 255, 255);
  color: #262626;
}

.text-white {
  color:  white;
}
.icon-big {
  font-size: 9rem;
}
.tier-arrows {
  padding-left: 3%;
}
.tier-devices {
  margin-left: -38px;
  background: #8a8acb;
}
.top-content .tier-button-left {
  border-bottom: 5px solid #6D6DA2;
  border-right: 5px solid #6D6DA2;
  border-left: 1px solid #6D6DA2;
  border-top: 1px solid #6D6DA2;
  border-radius: 9px;
  padding-left: 3%;
}
.top-content .tier-button-center {
  border-bottom: 1px solid #6D6DA2;
  border-right: 1px solid #6D6DA2;
  border-left: 1px solid #6D6DA2;
  border-top: 1px solid #6D6DA2;
  border-radius: 9px;
  padding-left: 3%;
}
.top-content .tier-button-right {
  border-bottom: 5px solid #6D6DA2;
  border-right: 1px solid #6D6DA2;
  border-left: 5px solid #6D6DA2;
  border-top: 1px solid #6D6DA2;
  border-radius: 9px;
  padding-right: 3%;
  padding-left: 3%;
}